// mixin

@mixin main {
    min-height: 100vh;
    margin-bottom: 15px;
}

@mixin carousel {
    height: 350px;
    width: 350px;
}

@mixin titulo {
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 0 auto;
}