//variables colores

$colorbg: #EDE3E9;
$colorFooteryHeader: #EBC3DB;
$colorhover: #9F84BD;
$colorform: #b497c731;


//variables fontfamily
$font-family-banner: 'Dancing Script', cursive;
$font-family: 'Open Sans', sans-serif;


